#container {
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row {
    display: flex;
}

.table {
    width: 20vw;
    margin: 2em;
    border-style: solid;
    border-width: 2px;
}

.table-data, .table-header {
    border-style: solid;
    border-width: 2px;
}

h2 {
    text-align: center;
}